<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955889968177-fo3shnev2g0e2hkn3lo531fvkrd55bcl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955889968177-fo3shnev2g0e2hkn3lo531fvkrd55bcl</string>
	<key>API_KEY</key>
	<string>AIzaSyCy_0YpL4jrwzkoJ0TiIiGpjghEZs7iIqE</string>
	<key>GCM_SENDER_ID</key>
	<string>955889968177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sedar.firechat</string>
	<key>PROJECT_ID</key>
	<string>firechat-31926</string>
	<key>STORAGE_BUCKET</key>
	<string>firechat-31926.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955889968177:ios:2c9117753eb18477</string>
	<key>DATABASE_URL</key>
	<string>https://firechat-31926.firebaseio.com</string>
</dict>
</plist>